
.preloader__cards-content-header {
    font-family: 'Roboto Slab' , Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
 
}

@media screen and (max-width: 1280px) {
    .preloader__cards-content-header {		
    font-size: 22px;
    line-height: 24px;
}
  }


  @media screen and (max-width: 718px) {
    .preloader__cards-content-header {		
    font-size: 22px;
    line-height: 24px;
}
  }
