@import url(./technologies__icons_language/technologies__icons_language.css);
@import url(./technologies__icons_language/technologies__icons_language.css);

.technologies__icons {
display: flex;
flex-direction: column;
height: 140px;
margin-bottom: 0px;
margin-right: 73px;
}

@media screen and (max-width: 1024px) {
    .technologies__icons {
     margin-right: 50px;
    }
}


@media screen and (max-width: 768px) {
    .technologies__icons {
    margin-right: 60px;
    margin-left: 0px;
    margin-top: 40px;

    }
}



@media screen and (max-width: 425px) {
    .technologies__icons {
        margin-right: 0px;
        margin-top: 40px;
      
    
    }
}

@media screen and (max-width: 375px) {
    .technologies__icons {
 
    }
}

@media screen and (max-width: 320px) {
    .technologies__icons {


    }
}