@import url(../../preloader__cards/preloader__cards.css);

.preloader__result-resultblocs-resultsearch {
	font-family: 'Roboto Slab' Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 46px;
	color: #1A1B22;	
	
}


@media screen and (max-width: 1280px) {
	.preloader__result-resultblocs-resultsearch {
		font-size: 30px;
		line-height: 34px;
	}
  }

  @media screen and (max-width: 718px) {
	.preloader__result-resultblocs-resultsearch {
	align-items: center;
	text-align: center;
		
	}
  }

