@import url(./question__headline_main_ask/question__headline_main_ask.css);
@import url(./question__headline_main_answer/question__headline_main_answer.css);

.question__headline_main {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    margin-top: 0px;

}

  @media screen and (max-width: 425px) {
    .question__headline_main  {
        flex-direction: column;
    
    
    }
  }
  