@import url(../technologies__icons/technologies__icons.css);

.technologies__blocks {
display: flex;
flex-direction: row;
margin-left: 194px;
max-width: 100%;

}
@media screen and (max-width: 1280px) {
  .technologies__blocks {
     margin-left: 120px;
      }
    }



@media screen and (max-width: 1024px) {
.technologies__blocks {
   margin-left: 46px;
   

    }
  }

  @media screen and (max-width: 768px) {
    .technologies__blocks {
      margin-left: 0px;
      width: 656px;
        }
      }

      
  @media screen and (max-width: 425px) {
    .technologies__blocks {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-bottom: 52px;
        width: 330px;
        justify-content: space-between;
  
      
        }
      }

   @media screen and (max-width: 375px) {
    .technologies__blocks {
    width: 300px;        
     }
  }

  @media screen and (max-width: 320px) {
    .technologies__blocks {
    width: 280px;        
     }
  }          