@import url(./footer__project/footer__copypro_project.css);
@import url(./footer__copypro_copyright/footer__copypro_copyright.css);

.footer__copypro {
display: flex;
flex-direction: row-reverse;
}






@media screen and (max-width: 425px) {
.footer__copypro {
    flex-direction: column;    
    width: 184px;  
    } 
}

