.header__menu_about {
display: flex;    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
align-items: center;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}


.menu_about_clients {
    color:black;
}


@media screen and (max-width: 425px) {
    .header__menu_about  {
        font-size: 16px;
    }
  }