
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/author/author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/clients/clients.css);
@import url(../blocks/technologies/technologies.css);
@import url(../blocks/question/question.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/commits/commits.css);
@import url(../blocks/analytics/analytics.css);




body {
  background-color: white; 
}



.page {
  min-width: 320px;
}

.server__error {
  display: none;
  color: #b6bcbf;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 5px auto 0;
  width: 550px;
  padding-bottom: 70px;
}

.error-message {
  display: absolute;
  font-size: 32px;
  color:red;
  
}