@import url(./footer__links-github/footer__links-github.css);
@import url(./footer__links-facebook/footer__links-facebook.css);


.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;   
}


@media screen and (max-width: 425px) {
.footer__links {
  margin-top: 0px;
}
}