.footer__copypro_project_about {
font-family: 'Source Sans Pro';
font-style: 'Regular';
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #1A1B22;
margin-left: 40px;
margin-right: 40px;
text-decoration: none;
width: 84px;
}

@media screen and (max-width: 1024px) {
  .footer__copypro_project_about {
        margin-left: 25px;
        margin-right: 25px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer__copypro_project_about {
      margin-left: 10px;
      margin-right: 10px;
    
    }
  }
  @media screen and (max-width: 425px) {
    .footer__copypro_project_about {
      margin-left: 0px;
      margin-right: 0px;    
    }
  }
  
  @media screen and (max-width: 375px) {
    .footer__copypro_project_about {
      margin-left: 0px;
      margin-right: 0px;    
    }
  }