

@import url(./search__form_input/search__form_input.css);
@import url(./search__form_button/search__form_button.css);

.search__form {
    position: relative;
    width: 608px;
   height: 64px;
}

 
@media screen and (max-width: 768px) {
    .search__form  {
        height: 56px;
        width: 448px;
    }    
}

@media screen and (max-width: 425px) {
    .search__form  {
        flex-direction: column;
        border: 0px;
        height: 128px;
        width: 288px;

    }
  }

  @media screen and (max-width: 375px) {
    .search__form  {
        margin-left: 0px;
     
    }
  }

 