.search__subtitle {
    margin-top: 32px;
    margin-bottom: 0px;
    color: #FFFFFF;
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    width: 505px;

    margin-bottom: 64px;
}



@media screen and (max-width: 1280px) {
  .search__subtitle {
      font-style: 'Regular';
      width: 450px;
      
  }
}

@media screen and (max-width: 1024px) {
    .search__subtitle {
       font-style: 'Regular';
       
    }
  }
  
  @media screen and (max-width: 514px) {
    .search__subtitle {
      margin-top: 16px;
     
    }
  }
  @media screen and (max-width: 450px) {
    .search__subtitle {
      margin-bottom: 64px;
      max-width: 288px;
    }
  }

 
