#button-right {
    position: absolute;
    right: 1800px;
    z-index: 3;
    top: 2010px;
 }
 
 #button-left {
   position: absolute;
   z-index: 3;
    right: 5px;
    top: 2010px;
   
 }
 @media screen and (max-width: 1280px) {
   #button-right {	
      top: 2020px;
      right: 1200px;
    }
  }

  @media screen and (max-width: 1280px) {
   #button-left {	
      top: 2020px;
   
    }
  }



  @media screen and (max-width: 1024px) {
   #button-right {	
      top: 1950px;
      right: 950px;
    }
  }

  @media screen and (max-width: 1024px) {
   #button-left {	
      top: 1950px;

    }
  }

  @media screen and (max-width: 768px) {
   #button-right {	
     display: none;
    }
  }

  @media screen and (max-width: 768px) {
   #button-left {	
    display: none;
    }
  }
