#slider {
    margin-top: 48px;
    background: #F5F6F7;
     position: relative;
     justify-content: center;
}


@media screen and (max-width: 768px) {
    #slider {	
        margin-top: 23px;

     }
   }

