@import url(./footer__copypro/footer__copypro.css);
@import url(./footer__links/footer__links.css);

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(100%-208px);
  }
  
  @media screen and (max-width: 768px) {
    .footer__container {
      width: calc(100%-80px);
    }
  }
 
  @media screen and (max-width: 600px) {
    .footer__container {
      margin-top: 32px;
    }
  }
  
  
  
  @media screen and (max-width: 425px) {
    .footer__container {
      margin-top: 32px;
      width: calc(100%-32px);
      flex-direction: row;
    }
  }