@import url(./header__newsAnalyzer/header__newsAnalyzer.css);
@import url(./header__menu/header__menu.css);


.header__container {
    width: calc(100%-208px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  
  @media screen and (max-width: 768px) {
    .header__container {
      width: calc(100%-80px);
    }
  }
  
  @media screen and (max-width: 425px) {
    .header__container {
      width: calc(100%-32px);
    }
  }
  